future
emoji
requests
sqlalchemy
python-telegram-bot==12.8
psycopg2-binary
feedparser
pyowm
bs4
lxml
demjson
PyLyrics
wget
gTTS
#telegram
zalgo_text
pynewtonmath
bs4
telegraph
beautifulsoup4
spongemock
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
googletrans
jikanpy
speedtest-cli
coffeehouse
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon
spamwatch
alphabet_detector
pyrate-limiter
covid
youtube-search
youtube-search-python
youtube_dl>=2020.09.20
